.col {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

 .col {
  height: 100px;
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-right: thin solid black;
  border-left: thin solid black;

}